[Unit]
Description=uWSGI instance to serve qytang
After=network.target

[Service]
User=nginx
Group=nginx
ExecStart=/usr/bin/bash -c 'cd /QYTANGDJG/qyt_djg/; uwsgi --ini uwsgi.ini'

[Install]
WantedBy=multi-user.target

