# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\qyt_devnet_software\2-Django\django-git-codecommit.ap-northeast-2.amazonaws.com-v1-repos-django_course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
